image: gitlab.lrz.de:5005/fk03ingenieurinformatik/ingenieurinformatik-buch:latest

variables:
  DOCKER_DRIVER: overlay2

stages:
  - build
  - deploy

# ============================================================================
# BUILD JOBS
# ============================================================================

build_website_html:
  stage: build
  variables:
    HTML_BUILD_DIR: "_website_html"
    PYDEVD_DISABLE_FILE_VALIDATION: "1"
  before_script:
    # Fix permissions for CI_PROJECT_DIR so non-root user can write
    # This is safer than running all commands as root
    - chown -R $(id -u jovyan):$(id -g jovyan) "$CI_PROJECT_DIR" || true
  script:
    - gosu jovyan bash -c "rm -rf _build $HTML_BUILD_DIR"
    - gosu jovyan bash -c "jupyter-book build . --path-output $HTML_BUILD_DIR"
  artifacts:
    paths:
      - $HTML_BUILD_DIR/_build
    when: always

build_book_pdf:
  stage: build
  when: manual
  variables:
    PDF_BUILD_DIR: "_book_as_pdf"
    PYDEVD_DISABLE_FILE_VALIDATION: "1"
  before_script:
    # Fix permissions for CI_PROJECT_DIR so non-root user can write
    # This is safer than running all commands as root
    - chown -R $(id -u jovyan):$(id -g jovyan) "$CI_PROJECT_DIR" || true
  script:
    - |
      gosu jovyan sh -c 'find figs -name "*.gif" -print0 | while IFS= read -r -d "" gif; do
        png="${gif%.gif}.png"
        if [ ! -f "$png" ]; then
          convert "${gif}[0]" "$png" && echo "generated: $png"
        fi
      done'
    - gosu jovyan bash -c "export LATEXMKOPTS='-interaction=nonstopmode' && jupyter-book build . --builder pdflatex --path-output $PDF_BUILD_DIR"
  artifacts:
    paths:
      - $PDF_BUILD_DIR/_build/latex/book.pdf
      - $PDF_BUILD_DIR/_build/latex/book.log
    expire_in: 1 week
    when: always

# ============================================================================
# DEPLOYMENT JOBS
# ============================================================================


deploy_notebooks_in_github:
  image: alpine/git:latest
  stage: deploy
  when: manual
  needs:
    - job: build_website_html
      artifacts: true
  dependencies:
    - build_website_html
  script:
    - SOURCE_DIR="_website_html/_build/jupyter_execute/chapters"
    - GITHUB_DEPLOY_REPO="fk03ingenieursinformatik/ingenieurinformatik-buch-deploy"
    - GITHUB_DEPLOY_BRANCH="master"
    - TARGET_DIR="deployed_notebooks"
    - GITHUB_REMOTE_PUBLIC="https://github.com/${GITHUB_DEPLOY_REPO}.git"
    - GITHUB_REMOTE_PUSH="https://x-access-token:${GITHUB_DEPLOY_TOKEN}@github.com/${GITHUB_DEPLOY_REPO}.git"
    - rm -rf _github_deploy_repo
    - git clone --depth 1 --branch "$GITHUB_DEPLOY_BRANCH" "$GITHUB_REMOTE_PUBLIC" _github_deploy_repo
    - cd _github_deploy_repo
    - git remote set-url origin "$GITHUB_REMOTE_PUSH"
    - echo "Syncing notebooks into ${TARGET_DIR}/ ..."
    - rm -rf "$TARGET_DIR"
    - mkdir -p "$TARGET_DIR"
    - cp -a "../${SOURCE_DIR}/." "$TARGET_DIR/"
    - git add -A
    - git -c user.name="gitlab-ci" -c user.email="gitlab-ci@localhost" commit -m "Update executed notebooks from ${CI_PROJECT_PATH}@${CI_COMMIT_SHA}"
    - echo "Pushing to GitHub..."
    - git push origin "$GITHUB_DEPLOY_BRANCH"

update_website:
  stage: deploy
  when: manual
  needs:
    - job: build_website_html
      artifacts: true
  dependencies:
    - build_website_html
  script:
    - 'echo "Update website: https://ingenieurinformatik-buch-fcbc5c.pages.gitlab.lrz.de/intro.html"'
  artifacts:
    paths:
      - _website_html/_build/html
  pages:
    publish: "_website_html/_build/html"
