# GitLab CI/CD configuration for building and deploying Jupyter Book
# This will automatically build and deploy your book when you push to the repository

image: jupyter/base-notebook:x86_64-ubuntu-22.04

before_script:
  - pip install --upgrade pip
  - pip install -r doc-requirements.txt

pages:
  stage: deploy
  script:
    - rm -rf /tmp/jb public
    - jupyter-book build . --path-output /tmp/jb #fix Docker issue with launch buttons
    - mkdir -p public
    - cp -a /tmp/jb/_build/html/. public/
  artifacts:
    paths:
      - public